/*GLobal*/

:root {
    --main-background: #0B0909;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-gray: #ABA7A7;
    --light-gray: #EAE8E8;
    --dark-gray: #2F2B2B;
    --extra-light-gray: #DDDDDD;
    --basic-CORA-color: #EBA607;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hide {
    display: none;
}

html {
    height: 100%;
    background-color: var(--main-background);
}

body {
    max-width: 1150px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

/*Header*/

header {
    padding-top: 92px;
    color: var(--basic-gray);
}

.main-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    float: right;
}


.main-menu__list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 85px;
}

.main-menu__item {
    text-decoration: none;
    color: var(--basic-gray);
    padding-right: 10px;
}

.main-menu__item:hover,
.main-menu__item:active {
    color: var(--basic-CORA-color);
    text-decoration: underline;
}



/*Catalog*/

.catalog {
    margin-bottom: 50px;
}

/*Tabs*/

.tabs__hide-input,
.shop-list__tabs__content {
    display: none;
}

.catalog-tabs__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 53px 10px 40px 10px;
}

.button {
    color: var(--basic-white);
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--dark-gray);
    border-radius: 5px;
    text-align: center;
    padding: 17px 0;
    cursor: pointer;
    border: none;
    width: 180px;
}

.button:hover {
    background-color: var(--basic-CORA-color);
}

.catalog-tabs__body {
    padding: 0 0 25px 10px;
}

.catalog-tabs__content {
    color: var(--basic-CORA-color);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: none;
}

.tabs__hide-input:nth-of-type(1):checked~.catalog-tabs__header label:nth-child(1),
.tabs__hide-input:nth-of-type(2):checked~.catalog-tabs__header label:nth-child(2),
.tabs__hide-input:nth-of-type(3):checked~.catalog-tabs__header label:nth-child(3),
.tabs__hide-input:nth-of-type(4):checked~.catalog-tabs__header label:nth-child(4),
.tabs__hide-input:nth-of-type(5):checked~.catalog-tabs__header label:nth-child(5),
.tabs__hide-input:nth-of-type(6):checked~.catalog-tabs__header label:nth-child(6) {
    background-color: var(--basic-CORA-color);
    cursor: default;
}

.tabs__hide-input:nth-of-type(1):checked~.catalog-tabs__body .catalog-tabs__content:nth-child(1),
.tabs__hide-input:nth-of-type(2):checked~.catalog-tabs__body .catalog-tabs__content:nth-child(2),
.tabs__hide-input:nth-of-type(3):checked~.catalog-tabs__body .catalog-tabs__content:nth-child(3),
.tabs__hide-input:nth-of-type(4):checked~.catalog-tabs__body .catalog-tabs__content:nth-child(4),
.tabs__hide-input:nth-of-type(5):checked~.catalog-tabs__body .catalog-tabs__content:nth-child(5),
.tabs__hide-input:nth-of-type(6):checked~.catalog-tabs__body .catalog-tabs__content:nth-child(6) {
    display: block;
}


/*Products*/

.catalog-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 1130px;
    height: 0.7px;
    background-color: var(--basic-gray);
}

.catalog-list {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0 0;
    margin: 0;
    column-gap: 7px;
    transition: max-height .5s ease-in;
}

.catalog-list__hidden {
    max-height: 915px;
    overflow: hidden;
}

.catalog-item {
    width: 282px;
}

.catalog-item a {
    text-decoration: none;
}

.catalog-item:hover {
    background: var(--dark-gray);
    border-radius: 5px;
}

.catalog-item__photo {
    width: 262px;
    margin: 15px 10px;
    border-radius: 6px;
}

.catalog-item__name {
    color: var(--extra-light-gray);
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 20px;
    margin: 0;
}

.catalog-item:hover .catalog-item__name {
    color: var(--basic-white);
    font-weight: 600;
}

.catalog-item__price {
    color: var(--basic-gray);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 35px;
}

.catalog-item:hover .catalog-item__price {
    color: var(--basic-white);
    font-weight: 500;
}

.catalog-button {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 100%;
    background: transparent;
    border: none;
    color: var(--extra-light-gray);
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    outline: 0;
}

.icon-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-color: var(--basic-white);
    border-left: 2px solid;
    border-top: 2px solid;
    border-radius: 2px 0 0 0;
    transform: rotate(-135deg);
}

.icon-arrow__up {
    transform: rotate(45deg);
}

.catalog-button__hide {
    display: none;
}

/*Item card*/

.item-card {
    margin-bottom: 80px;
}

.item-card__header {
    padding: 53px 10px 25px;
    border-bottom: 1px solid var(--basic-gray);
}

.item-card__name {
    color: var(--basic-CORA-color);
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 50px 0 0;
}

.item-card__main {
    margin: 25px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-card__img img {
    width: 555px;
    height: 515px;
}

.item-card__info {
    width: 555px;
    height: 515px;
    background-color: var(--dark-gray);
}

.item-card__params {
    display: table;
    font-size: 20px;
    line-height: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 25px 0 25px 35px;
}

.item-card__params dt {
    color: #a1a1a1;
    float: left;
    clear: left;
}

.item-card__params dd {
    color: var(--basic-white);
    margin-left: 200px;
}

.item-card__info__form {
    margin-left: 35px;
}

.item-card__info__form label{
    color: var(--basic-CORA-color);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    float: left;
    clear: left;
}

.select {
    position: relative;
    margin-left: 200px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-family: "Montserrat", sans-serif;
}

.select:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
}

.select select {
    display: block;
    width: 100%;
    padding: 13px 16px;
    background-color: #c4c4c4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-weight: 600;
    outline-color: var(--basic-CORA-color);
}

.item-price__label {
    color: var(--basic-CORA-color);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-left: 235px;
}

.item-price__amount {
    float: right;
    margin-right: 20px;
    background-color: var(--basic-CORA-color);
    text-align: center;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.item-card__gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item-card__gallery img {
    width: 170px;
}


/*Address*/

.shop-list h2 {
    display: inline-block;
    color: var(--light-gray);
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
}

.shop-list__tabs__header {
    float: right;
    margin-top: 13px;
}

.shop-list__tabs__header label {
    display: inline-block;
    width: 130px;
    background-color: #C4C4C4;
    color: #726A6A;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 14px 0;
    cursor: pointer;
}

.shop-list__tabs__header label:first-child {
    margin-right: -4px;
}

.tabs__hide-input:nth-of-type(1):checked~.shop-list__tabs__header label:nth-child(1),
.tabs__hide-input:nth-of-type(2):checked~.shop-list__tabs__header label:nth-child(2) {
    background-color: #EFEFEF;
    color: var(--basic-black);
    cursor: default;
}

.tabs__hide-input:nth-of-type(1):checked~.shop-list__tabs__body .shop-list__tabs__content:nth-child(1),
.tabs__hide-input:nth-of-type(2):checked~.shop-list__tabs__body .shop-list__tabs__content:nth-child(2) {
    display: block;
}

.table-wrapper {
    border: 1px solid var(--basic-gray);
    border-radius: 5px;
}

.shop-list__table {
    color: var(--extra-light-gray);
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;

}

.shop-list__table th,
.shop-list__table td {
    padding: 20px 15px;

}


.shop-list__table th:last-child {
    border-left: 1px solid var(--basic-gray);
}

.shop-list__table td {
    border-top: 1px solid var(--basic-gray);
}


.left-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: 1px solid var(--basic-gray);

}

.left-column__div {
    flex-basis: 50%;
}

.left-column__div-address {
    color: #726A6A;
    line-height: 35px;
}

.right-column {
    vertical-align: top;
}

.map-wrapper {
    padding: 16px;
    border: 1px solid var(--basic-gray);
    border-radius: 5px;
}

footer {
    display: block;
    color: var(--light-gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-right: 15px;
    margin-left: 15px;
}

.email {
    float: left;
}
.year {
    float: right;
}

@media (min-width: 220px) and (max-width: 559px) {
    .filter-button {
        flex-basis: 45%;
        margin-bottom: 10px;
    }

    .catalog-item {
        margin: 0 auto;
    }

    img {
        width: 50%;
    }

    .main-menu {
        font-size: 13px;
    }

    .item-card__main {
        justify-content: center;
    }

    .item-card__img,
    .item-card__info {
        flex-basis: 90%;
        margin-bottom: 15px;
    }

    .item-card__img img {
        max-height: 275px;
    }

    .item-card__params,
    .item-card__info__form label,
    .item-price__label {
        font-size: 13px;
    }

    .item-card__params {
        margin-top: 0px;
    }

    .item-card__params dd,
    .select {
        margin-left: 130px;
    }

    .item-price__label {
        margin-left: 35px;
    }

    .item-card__gallery {
        margin-left: 20px;
    }

    .catalog-tabs__header {
        padding: 30px 10px 30px 10px;
    }

    header {
        padding-top: 42px;
    }

    .shop-list__tabs {
        margin-right: 15px;
        margin-left: 15px;
    }

    .shop-list__tabs__header {
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .shop-list__table {
        font-size: 12px;
    }
}

@media (min-width: 560px) and (max-width: 779px) {
    .filter-button {
        flex-basis: 30%;
        margin-bottom: 15px;
    }

    .cora-logo {
        width: 50%;
        margin-left: 20px;
    }

    header {
        padding: 42px 20px 0;
    }

    .item-card__main {
        justify-content: center;
    }

    .item-card__img,
    .item-card__info {
        margin-bottom: 15px;
    }

    .item-card__gallery {
        margin-left: 20px;
    }

    .shop-list__tabs {
        margin-right: 15px;
        margin-left: 15px;
    }

    .shop-list__tabs__header {
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
    }

}

@media (min-width: 780px) and (max-width: 900px) {
    .shop-list__tabs__header {
        float: none;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 780px) and (max-width: 1150px){
    .filter-button {
        flex-basis: 15%;
    }

    header {
        padding: 42px 20px 0;
    }

    .shop-list__tabs,
    .item-card {
        margin-right: 15px;
        margin-left: 15px;
    }

    .item-card__img,
    .item-card__info {
        flex-basis: 49%;
    }

    .item-card__img img {
        width: 500px;
    }
}
